<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>내 눈을 지켜줘!</h1>
        <P>이 사이트는 모시래학사 남동 본관 관생들의 원활한 화장실 이용을 위하여 제작되었습니다.</p>
        <P>* "O층 몇번째칸 막혔어요"라고 게시글을 작성해주시면 됩니다.</p>
        <P>* 익일 09:00가 지나면 게시글이 작성된 칸도 이용이 가능합니다.</p>
        <P>(단, 주말과 공휴일은 해당되지 아니합니다.)</p>
      </div>
    </div>
  </body>
</html>
